*.o
.deps
/**/*.lo
/**/*.swp
/*.bak
/*.gcda
/*.gcno
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.dirstamp
/.gitignore
/.version
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/autom4te.cache
/build-aux
/compile
/config
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/dactl-core-0.3.pc
/dactl-ui-0.3.pc
/depcomp
/examples/box_vala.stamp
/examples/channel_treeview_vala.stamp
/examples/chart_axis_vala.stamp
/examples/chart_vala.stamp
/examples/page_vala.stamp
/examples/pnid_vala.stamp
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libtool
/ltmain.sh
/missing
/po/*.gmo
/po/*.header
/po/*.mo
/po/*.sed
/po/*.sin
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makefile.in.in~
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/dactl.pot
/po/stamp-it
/po/stamp-po
/so_locations
/stamp-h1
/tags
