*.*~
*.swp
\#*.*\#

_build/

# ignore unwanted packaging files
obj-x86_64-linux-gnu/
debian/dactl/
debian/files
debian/tmp/
debian/.debhelper/
debian/**/*.log
debian/**/*.substvars
debian/debhelper-build-stamp
debian/gir1.2-dactl-1.0/
debian/libdactl-1.0-0/
debian/libdactl-1.0-dev/
