*.*~
*.c
*.o
*.lo
*.la
*.swp
*.stamp*

.deps/
.dirstamp
.version

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
dactl-core-0.3.pc
dactl-ui-0.3.pc
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
mkinstalldirs

build-aux/compile

data/dactl.desktop
data/schemas/org.coanda.dactl.gschema.xml
data/schemas/org.coanda.dactl.gschema.valid

docs/dactl-uml.dia.autosave

examples/.libs/
examples/box
examples/channel-treeview
examples/chart
examples/chart-axis
examples/aobox
examples/dobox
examples/page
examples/pnid

m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4

po/POTFILES
po/stamp-it

src/dactl/dactl
src/dactl/.libs/
src/dactl/libdactl.h

src/libdactl-*/.libs/
src/libdactl-*/Dactl-0.3.gir

src/libdactl-core/DactlCore-0.3.gir
src/libdactl-core/DactlCore-0.3.typelib
src/libdactl-core/dactl-core-0.3.vapi
src/libdactl-core/dactl-core.h

src/libdactl-ui/DactlUI-0.3.gir
src/libdactl-ui/DactlUI-0.3.typelib
src/libdactl-ui/dactl-ui-0.3.vapi
src/libdactl-ui/dactl-ui.h
!src/libdactl-ui/init.c

src/plugins/.deps/
src/plugins/.dirstamp
src/plugins/*/*.plugin
src/plugins/*/.libs/

src/ui/.deps/
src/ui/.dirstamp
