/* Theme colors */
@define-color row-bg-color #eee;
@define-color row-fg-color black;

/* TreeView styles */
GtkTreeView row:nth-child(even) {
  color: @row-fg-color;
  background-color: @row-bg-color;
}

GtkTreeView:hover, GtkTreeView row:nth-child(even):hover {
  transition: 250ms linear;
  background-color: lightgray;
}

GtkTreeView:selected, GtkTreeView row:nth-child(even):selected {
  color: white;
  background-color: darkgray;
}

/* General widget styles */
GtkButton:hover {
  transition: 150ms linear;
}

/* Chart styles */
ChartArea {
  background-color: lightblue;
}
